<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>-->

<legend><%= current_effective_user.name %>'s Progress</legend>

<% if @goal_data.empty? %>
    <%= "You don't have any goals entered yet." %>
<% else %>
  <% @goal_data.each_with_index do |g, i| %>
  
    <div class="circle_and_graph" id="circle_and_graph">

      <div class="progress_circle_layout">
        
        <div class="circular-text"><%= @goals[i].name %></div>
        <div class="circular-text">Goal: <%= @goals[i].value %> <%= @goals[i].unit.name %></div>
        <% (1..100).each do |counter| %>
          <% if @goal_progress[i].to_i > 100 %>
            <div class='circular-progress100'></div>
            <% break %>
          <% elsif @goal_progress[i].to_i <= 0 %>
            <div class='circular-progress0'></div>
            <% break %>
          <% elsif @goal_progress[i].to_i == counter %>
            <div class='circular-progress<%="#{counter}"%>'></div>
            <% break %>
          <% end %>
        <% end %>
        
      </div>
      
      <div class="divider" id="divider"></div>
      <div class="hidden error_msg" id="<%="error_msg#{i}"%>"></div>
      <div id='<%="chart#{i}"%>'></div>
      
      <%= javascript_tag do -%>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
      
        function drawChart() {
        
          var data = JSON.parse('<%= g.to_json.html_safe -%>');
          data = [['Date', 'Value']].concat(data);
          data = google.visualization.arrayToDataTable(data);
          
          var options = {

            title: '<%= @goals[i].name %>',
            
            vAxis: {
              minValue: 0,
              maxValue: <%= @goals[i].value.to_f %> + 10,
              title: '<%= @goals[i].unit.name %>'
            },
            
            legend: {
              position:'none'
            }
          
          };
          
  
          var chart = new google.visualization.ComboChart(document.getElementById('<%="chart#{i}"%>'));
          
          google.visualization.events.addListener(chart, 'error', function (googleError) {
            google.visualization.errors.removeError(googleError.id);
            document.getElementById('<%="error_msg#{i}"%>').innerHTML = "No exercises logged for this goal yet.";
            document.getElementById('<%="chart#{i}"%>').classList.add('hidden');
            document.getElementById('<%="error_msg#{i}"%>').classList.remove('hidden');
          });
        
          chart.draw(data, options);
        }
        
      <% end -%>
      </div>
  <% end %>
<% end %>

<% 
=begin
  if @goals.empty? %>
  <%= "You don't have any goals entered yet." %>
<% else %>
  <% @goals.each_with_index do |g, i| %>
    <label>Goal: </label>
    <label><%= g.name %></label></br>
    <label style="float: left; padding-right: 1em;">0 <%= g.unit.name %></label>
    <label style="float: right; padding-left: 1em;"><%= g.value %> <%= g.unit.name %></label>
    <div class="progress">
      <div class="progress-bar" style="width: <%= g.value %>%;">
        <%= g.value %> %
      </div>
    </div>
  <% end %>
<% end 
=end 
%>