<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>-->

<legend>Dashboard</legend>
<div class="hidden"><p>my progress</p></div>

<div class="content">
  
  <% if @goal_data.empty? %>
      <%= "You don't have any goals entered yet." %>
  <% else %>
    <% @goal_data.each_with_index do |g, i| %>
    
      <div class="group" style="float: left; padding-right: 3em; overflow: hidden;">
        <div class="circular-text"><%= @goals[i].name %></div>
        <div class="circular-text">Goal: <%= @goals[i].value %> <%= @goals[i].unit.name %></div>
        <% if @goal_progress[i].to_i < 11 %>
          <div class="circular-progress10"></div>
        <% elsif @goal_progress[i].to_i < 21 %>
          <div class="circular-progress20"></div>
        <% elsif @goal_progress[i].to_i < 31 %>
          <div class="circular-progress30"></div>
        <% elsif @goal_progress[i].to_i < 41 %>
          <div class="circular-progress40"></div>
        <% elsif @goal_progress[i].to_i < 51 %>
          <div class="circular-progress50"></div>
        <% elsif @goal_progress[i].to_i < 61 %>
          <div class="circular-progress60"></div>
        <% elsif @goal_progress[i].to_i < 71 %>
          <div class="circular-progress70"></div>
        <% elsif @goal_progress[i].to_i < 81 %>
          <div class="circular-progress80"></div>
        <% elsif @goal_progress[i].to_i < 99 %>
          <div class="circular-progress90"></div>
        <% elsif @goal_progress[i].to_i > 99 %>
          <div class="circular-progress100"></div>
        <% end %>
        <br>
      </div>
              
      <div id='<%="chart#{i}"%>' style="width: 600px; height: 600px;"></div>
      
      <%= javascript_tag do -%>
        <% puts g.to_json.html_safe %>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
      
        function drawChart() {
        
          var data = JSON.parse('<%= g.to_json.html_safe -%>');
          exercise_data = [['', '']].concat(data);
          data = google.visualization.arrayToDataTable(exercise_data);
          
          var options = {
    

            title: '<%= @goals[i].name %>',
            
            vAxis: {
              minValue: 0,
              maxValue: <%= @goals[i].value %> + 10,
              title: '<%= @goals[i].unit.name %>'
            },
            
            legend: {
              position:'none'
            }
          
            
      };
      
          var chart = new google.visualization.ComboChart(document.getElementById('<%="chart#{i}"%>'));
          chart.draw(data, options);
 
        }
        
      <% end -%>
    <% end %>
  <% end %>
</div>

<% 
=begin
  if @goals.empty? %>
  <%= "You don't have any goals entered yet." %>
<% else %>
  <% @goals.each_with_index do |g, i| %>
    <label>Goal: </label>
    <label><%= g.name %></label></br>
    <label style="float: left; padding-right: 1em;">0 <%= g.unit.name %></label>
    <label style="float: right; padding-left: 1em;"><%= g.value %> <%= g.unit.name %></label>
    <div class="progress">
      <div class="progress-bar" style="width: <%= g.value %>%;">
        <%= g.value %> %
      </div>
    </div>
  <% end %>
<% end 
=end 
%>