<script src="/assets/search_exercises.js"></script>
<script src="/assets/quick_log.js"></script>

  <p>
    <b>Logging History:</b><br>
    <% if @exercises.empty? %>
        <b><%= "No exercises have been created yet." %></b>
        <%= form_tag create_exercise_path, :method => :get do %>
          <%= submit_tag 'Click here to create an exercise' %>
        <% end %>
    <% else %>
      <button id="add">Log a new exercise</button><br>
      <%= form_tag create_exercise_path, :method => :get do %>
        Don't see the exercise you're looking for? Add one below<br>
        <%= submit_tag 'Click here to create an exercise' %>
      <% end %>
    <% end %>
  </p>
  
  <% if @workouts.empty? %>
    Here will be the history of completed exercises/workouts<br />
  <% else %>
    <table>
        <tr>
          <th>Exercise Name</th>
          <th>Set Count</th>
          <th>Rep Count</th>
          <th>Rep Value</th>
          <th>Rep Unit</th>
        </tr>
        <% @workouts.reverse_each do |workout, i| %>
          <% workout.task.each do | task | %>
          <tr>
            <td><%= task.exercise.name %></td>
            <td><%= task.exercise_set.count %></td>
            <td><%= task.exercise_set[0].rep_count %></td>
            <td><%= task.exercise_set[0].rep_value %></td>
            <td><%= task.exercise_set[0].rep_unit %></td>
          </tr>
          <% end %>
        <% end %>  
        <% @exercise_sets.each_with_index do |e, i| %>
        <tr <%= 'id=last_row' if i == (@exercise_sets.size - 1) %> >
        
        </tr>
        <% end %>  
    </table>
  <% end %>
  
  <div class="container">
  <!-- task cards -->
  <div class="row" id="task_card_list">
    
  <!-- hidden popup form when user adds a new exercise to their workout -->
  <div id="dialog-form" title="Quick Log">
      <form>
        <fieldset>
          <div class="exercise-search">
            <label for="exercise-search-txt">
              Exercise
            </label>
            <input name="exercise-search-txt" type="text" id="exercise-search-txt">
            <div class="results" id="exercise-search-results">
              
            </div>
          </div>
          
          <div id="exercise-category-data">
          
          </div>
          
        </fieldset>
      </form>
    </div>
</div>
<%= render :template => 'homepage/template' %>
