<script src="/assets/search_exercises.js"></script>
<script src="/assets/quick_log.js"></script>

<div class="container-fluid">
  
  <div class="row">
    
    <div class="form-group">
      <legend>Logging History</legend>
      <% if @exercises.empty? %>
          <b><%= "No exercises have been created yet." %></b>
          <%= form_tag create_exercise_path, :method => :get, :class => "no_margin_form" do %>
            <%= submit_tag 'Click here to create an exercise' %>
          <% end %>
      <% else %>

        <div class="form-group">

          <%= form_tag create_exercise_path, :method => :get, :class => "no_margin_form" do %>
            <div class="form-group row" style="margin-left: auto; margin-right: auto;">
              <a class="btn btn-primary" id="add">Log a New Exercise</a>
            </div>
            
            <label for="commit">Don't see the exercise you're looking for?<br>
            <input class="btn btn-primary" type="submit" name="commit" value="Create a New Exercise">
        </div>
        <% end %>
      <% end %>
      
    </div>
    
    <div class="form-group">
      <% if @workouts.empty? %>
        The history of completed exercises/workouts will be here<br />
      <% else %>
        <table class="table">
          <thead style="background-color: #003366; color: white;">
            <tr>
              <th>Exercise Name</th>
              <th>Set Count</th>
              <th>Rep Count</th>
              <th>Rep Value</th>
            </tr>
          </thead>
            <% @workouts.reverse_each do |workout, i| %>
              <% if workout.state == State.complete %>
                <% workout.task.each do | task | %>
                <tr>
                  <td><%= task.exercise.name %></td>
                  <td><%= task.exercise_set.count %></td>
                  <td><%= task.exercise_set[0].rep_count %></td>
                  <td><%= task.exercise_set[0].rep_value %> <%= task.exercise_set[0].rep_unit %></td>
                </tr>
                <% end %>
              <% end %>
            <% end %>  
        </table>
      <% end %>
      
    </div>
    
    <div class="form-group">
        <div class="row" id="task_card_list"></div>
    </div>
    
  </div>
</div>


<!-- hidden popup form when user adds a new exercise to their workout -->
<div id="dialog-form" title="Quick Log">
  <form>
    <fieldset>
      <div class="exercise-search">
        <label for="exercise-search-txt">
          Exercise
        </label>
        <input name="exercise-search-txt" type="text" id="exercise-search-txt">
        <div class="results" id="exercise-search-results">
          
        </div>
      </div>
      
      <div id="exercise-category-data">
      
      </div>
      
    </fieldset>
  </form>
  

</div>