<script src="/assets/view_exercises.js"></script>
<div class="exercises">
  <legend>View All Exercises</legend>
  
  <% if @exercises.empty? %>
      <%= "No exercises have been created yet." %>
  <% else %>
      <% @exercises.each_with_index do |e, i| %>
        <div <%= 'id=last_row' if i == (@exercises.size - 1) %> >
           <table id= "table">
              <tr>
                <td><%= e.name%></td>
                <td><button type="button" name="button1" class = "delete_button" id="<%=e.id%>"value="delete"/>Delete</td>
              </tr>
            </table>
        <% end %>  
  <% end %>
</div>
<%= link_to 'Create New Exercise', create_exercise_path %>
