<script>
  $(function() {
    new app.Search_Exercises;
  });
</script>
  
<div class="exercises">
  <p>
    Create Workout:
  </p>
  <div class="exercise-search">
    Enter an exercise: 
    <input type="text" id="exercise-search-txt">
    <div class="results" id="exercise-search-results">
      
    </div>
  </div>
</div>

<%= form_tag create_exercise_path, :method => :get do %>
  <%= submit_tag 'Create New Exercise' %>
<% end %>

<%= form_tag process_create_workout_path, :method => :post do %>
  <%= submit_tag 'Finish Creating New Workout' %>
<% end %>

<!-- Search box section --!>


<!-- My Workout List section --!>


<%= render :template => 'homepage/template' %>
