<div class="exercises">
  <p>
    Create Workout:
  </p>
  
  <% if @exercises.empty? %>
      <%= "No exercises have been created yet." %>
  <% else %>
    Current existing exercises to choose from:
    <select name="user_id">
    <%= @exercises.each do |exercise| %>
      <option value="<%= exercise.id %>"><%= exercise.name %></option>
    <% end %>
    </select><br /><br />
    <table>
      <tr>
        <th>Name</th>
        <th>Category</th> 
        <th>Description</th>
      </tr>
      <% @exercises.each_with_index do |e, i| %>
        <tr <%= 'id=last_row' if i == (@exercises.size - 1) %> >
        <td><%= e.name %></td>
        <td><%= e.category %></td>
        <% if e.description.empty? %>
          <td>No description given.</td>
        <% else %>
          <td><%= e.description %></td>
        <% end %>
        </tr>
        <% end %>  
    </table>
  <% end %>
</div>

<%= form_tag create_exercise_path, :method => :get do %>
  <%= submit_tag 'Create New Exercise' %>
<% end %>

<%= form_tag process_create_workout_path, :method => :post do %>
  <%= submit_tag 'Finish Creating New Workout' %>
<% end %>

<!-- Search box section --!>


<!-- My Workout List section --!>


<%= render :template => 'homepage/template' %>
