<p>
  Create exercise:<br />
  <%= form_tag process_create_exercise_path, :method => :post do %>
    <%= label_tag 'Name:' %>
    <%= text_field_tag 'name', '', :maxlength => 140, :autocomplete => 'off' %><br />
    <b>Category:</b><br />
    <%= radio_button_tag(:category, "Cardio") %>
    <%= label_tag(:cardio, "Cardio") %>
    <%= radio_button_tag(:category, "Strength") %>
    <%= label_tag(:strength, "Strength") %><br />
    <%= submit_tag 'Enter' %>
  <% end %>
</p>

<!-- Name box --!>

<!-- Category buttons --!>


<!-- Optional --!>
<!-- Description --!>
<!-- Muscle Group --!>
<!-- Picture --!>

<%= render :template => 'homepage/template' %>
