<script src="/assets/search_users.js"></script>
<script src="/assets/admin.js"></script>

<!-- hidden popup form when user adds a new exercise to their workout -->
<div id="dialog-form" title="Add Client">
  <form>
    <fieldset>
      <div class="exercise-search">
        <label for="user-search-txt">
          Client Name
        </label>
        <input name="user-search-txt" type="text" id="user-search-txt">
        <div class="results" id="user-search-results">
          
        </div>
      </div>
      
      <div id="user-data" hidden>
        <span id="selected_user_id"></span>
        <span id="selected_trainer_id"></span>
      </div>
      
    </fieldset>
  </form>
</div>

<div class = "admin">
  <p>
    Admin Dashboard:
  </p>
          
  <table>
    <tr align = "middle">
      <th colspan = "2">User</th>
      <th colspan = "2">Roles</th>
    </tr>
    <tr align = "middle">
      <th>Id</th>
      <th>Name</th>
      <th>Admin or Trainer</th>
    </tr>
    
    <% User.all.each  do |e,i| %>
      <div <% 'id=last_row' if i == (User.all.size - 1) %> >
        <form  id = "TrainerOrAdmin">
          <tr align = "middle">
            <td><%= e.id %></td>
            <td><%= e.name %></td>
            <td>
              <div><input type="radio" name="text" value="Trainer"> Trainer</div>
              <div><input type="radio" name="text" value="Admin"> Admin</div>
            </td>
          </tr>
        </form>
    <% end %>
  </table>
  <button type="submit" form="TrainerOrAdmin" value="Submit">Submit</button>

  <!-- Display all trainers and their respective client lists -->
  <p>
    Trainers:
  </p>
  <div>
    <% @trainers.each do | trainer | %>
      <div class="trainer_card" id="<%= trainer.id %>">
        <span class="trainer_name_info"><%= trainer.name %></span>'s Client List
        <% if trainer.clients.empty? %>
          <div class="client_card">
            Client List is empty
          </div>
        <% else %>
          <% trainer.clients.each do | client | %>
            <div class="client_card" id="<%= client.id %>">
              <span> <%= client.name %> </span>
              <button type="button" class="btn btn-info btn-sm delete_client_button">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          <% end %>
          <button type="button" class="btn btn-info btn-sm add_client_button" id="<%= trainer.id %>">
                <span class="glyphicon glyphicon-plus"></span>
          </button>
          
        <% end %>
      </div>
    <% end %>
  </div>

</div>

