<div class = "admin">
  <p>
    Admin Dashboard:
  </p>
          
  <table>
    <tr align = "middle">
      <th colspan = "2">User</th>
      <th colspan = "2">Roles</th>
    </tr>
    <tr align = "middle">
      <th>Id</th>
      <th>Name</th>
      <th>Admin or Trainer</th>
    </tr>
    
    <% User.all.each  do |e,i| %>
      <div <% 'id=last_row' if i == (User.all.size - 1) %> >
        <form  id = "TrainerOrAdmin">
          <tr align = "middle">
            <td><%= e.id %></td>
            <td><%= e.name %></td>
            <td>
              <div><input type="radio" name="text" value="Trainer"> Trainer</div>
              <div><input type="radio" name="text" value="Admin"> Admin</div>
            </td>
          </tr>
        </form>
    <% end %>
  </table>
  <button type="submit" form="TrainerOrAdmin" value="Submit">Submit</button>

  <!-- Display all trainers and their respective client lists -->
  <p>
    Trainers:
  </p>
  <div>
    <% @trainers.each do | trainer | %>
      <div class="trainer_card">
        <span class="trainer_name_info"><%= trainer.name %></span>'s Client List
        <% if trainer.clients.empty? %>
          <div class="empty_client_list">
            Client List is empty
          </div>
        <% else %>
          <% trainer.clients.each do | client | %>
            <div class="client_info" id="<%= client.id %>">
              <span> <%= client.name %> </span>
              <button type="button" class="btn btn-info btn-sm delete_client_button">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

