<script src="/assets/search_users.js"></script>
<script src="/assets/admin.js"></script>

<!-- hidden popup form when user adds a new exercise to their workout -->
<div id="dialog-form" title="Add Client">
  <form>
    <fieldset>
      <div class="exercise-search">
        <label for="user-search-txt">
          Client Name
        </label>
        <input name="user-search-txt" type="text" id="user-search-txt">
        <div class="results" id="user-search-results">
          
        </div>
      </div>
      
      <div id="user-data" hidden>
        <span id="selected_user_id"></span>
        <span id="selected_trainer_id"></span>
      </div>
      
    </fieldset>
  </form>
</div>

<div class = "admin">
  <p>
    Admin Dashboard:
  </p>
  <table>
    <tr align = "middle">
      <th colspan = "2">User</th>
      <th colspan = "2">Roles</th>
    </tr>
    
    <tr align = "middle">
      <th>Id</th>
      <th>Name</th>
      <th>Client/Trainer/Admin</th>
    </tr>
      
    <%User.all.each do |u| %>
      <tr align = "middle" class="user_info">
        <td class = "id"><%= u.id%> </td>
        <td class = "name">  <%= u.name%></td>
        <td>
          <select class = "roles">
            <% @roles.all.reverse_each do | role | %>
              <% if u.is_assigned_role?(role) %>
                <option id = <%= role.id%> selected> <%=role.name%></option>
              <% else %>
                <option id = <%= role.id%>> <%=role.name%></option>
              <% end %>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
      
  </table>
  
  <button id = "TOC">Submit</button>

  <!-- Display all trainers and their respective client lists -->
  <p>
    Trainers:
  </p>
  <div>
    <% @trainers.each do | trainer | %>
      <div class="trainer_card" id="<%= trainer.id %>">
        <span class="trainer_name_info"><%= trainer.name %></span>'s Client List
        <% if trainer.clients.empty? %>
          <div class="client_card">
            Client List is empty
          </div>
        <% else %>
          <% trainer.clients.each do | client | %>
            <div class="client_card" id="<%= client.id %>">
              <span> <%= client.name %> </span>
              <button type="button" class="btn btn-primary btn-sm delete_client_button">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          <% end %>
        <% end %>
        <button type="button" class="btn btn-primary btn-sm add_client_button" id="<%= trainer.id %>">
                <span class="glyphicon glyphicon-plus"></span>
          </button>
      </div>
    <% end %>
  </div>

</div>

