<h1>
  My Clients:
</h1>

<div>
    <div>
        -- My Trainers -- 
        <% current_user.trainers.each do |trainer| %>
            <div>
                <%= trainer.name %>
            </div>
        <% end %>
        ----
    </div>
    
    <div>
        -- My Clients -- 
        <% current_user.clients.each do |client| %>
            <div>
                <%= client.name %>
            </div>
        <% end %>
        ----
    </div>
    
    <% if @clients.empty? %>
        <%= "No clients have been paired with you yet." %>
    <% else %>
        <% @clients.each_with_index do |c, i| %>
            <div <%= 'id=last_row' if i == (@clients.size - 1) %> >
               <table id= "table">
                  <tr>
                    <td><%= c.name%></td>
                  </tr>
                </table>
            </div>
        <% end %>  
    <% end %>
</div>