<h2>Enter my measurements</h2>


<%= form_tag process_enter_new_measurements_path, :method => 'post' do %>
  <%= label_tag 'Weight:' %>
  <%= text_field_tag 'weight', '', :size => 6, :autocomplete => 'off' %>
  <select>
    <option value="lbs.">lbs</option>
  </select>
  <br>
  <%= label_tag 'Body fat:' %>
  <%= text_field_tag 'body_fat', '', :size => 6, :autocomplete => 'off' %>  
  <select>
    <option value="%">%</option>
  </select>
  <br>
  <%= label_tag 'Height:' %>
  <%= text_field_tag 'height', '', :size => 6, :autocomplete => 'off' %>
  <select>
    <option value="ft">ft</option>
  </select>
  <br>
  <%= submit_tag 'Enter' %>
<% end %>


