<div class="container-fluid">
  
    <div class="measurements">
    
      <legend>My Measurements</legend>
    
      <div class="row">
      
        <%= form_tag enter_my_measurements_path, :method => :get do %>
      
        <div class='form-group'>
          <% if @measurements.empty? %>
            <%= "You don't have any measurements entered yet." %><br>
          <% else %>
            <table class="table">
              <tr>
                <th>Weight</th>
                <th>Body Fat</th> 
                <th>Height</th>
                <th>Date</th>
              </tr>
              <% @measurements.each_with_index do |m, i| %>
                <tr <%= 'id=last_row' if i == (@measurements.size - 1) %> >
                  <td><%= m.weight %></td>
                  <td><%= m.body_fat %></td>
                  <td><%= m.height %></td>
                  <td><%= m.updated_at.strftime("%B %d, %Y at %H:%M") %></td>
                </tr>
              <% end %> 
            </table>
          <% end %>
        </div>
    
        <div class='form-group'>
          <input class="btn btn-primary" style="margin-top=2em;" type="submit" name="commit" value="Enter New Measurements">
          <% end %>
        </div>
      
      </div>
      
    </div>
    
</div>


<!-- charts -->
<%= 
=begin
  area_chart [ { name: "Weight", data: Measurement.where(user_id: session[:user_id]).count.group_by_day(:weight) }] 
=end
%>
