<head>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>  
<%= javascript_include_tag "application", "chartkick" %>
</head>

<body>
<div class="measurements">
  <p> 
    Measurements so far:
  </p>
  
  <% if @measurements.empty? %>
    <%= "You don't have any measurements entered yet." %><br>
  <% else %>
    <table class="table">
      <tr>
        <th>Weight</th>
        <th>Body Fat</th> 
        <th>Height</th>
        <th>Date</th>
      </tr>
      <% @measurements.each_with_index do |m, i| %>
        <tr <%= 'id=last_row' if i == (@measurements.size - 1) %> >
        <td><%= m.weight %></td>
        
        <td><%= m.body_fat %></td>
        <td><%= m.height %></td>
        <td><%= m.updated_at %></td>
        </tr>
      <% end %>  
    </table>
  <% end %>
</div>

<%= form_tag enter_my_measurements_path, :method => :get do %>
  <%= submit_tag 'Enter New Measurements' %>
<% end %>


<!-- charts -->
<%= 
=begin
  area_chart [ { name: "Weight", data: Measurement.where(user_id: session[:user_id]).count.group_by_day(:weight) }] 
=end



</body>
