<div class="measurements">
  <p> 
    Measurements so far:
  </p>
  
  <% if @measurements.empty? %>
    <%= "You don't have any measurements entered yet." %>
  <% else %>
    <table>
      <tr>
        <th>Weight</th>
        <th>Body Fat</th> 
        <th>Height</th>
      </tr>
      <% @measurements.each_with_index do |m, i| %>
        <tr <%= 'id=last_row' if i == (@measurements.size - 1) %> >
        <td><%= m.weight %></td>
        
        <td><%= m.body_fat %></td>
        <td><%= m.height %></td>
        </tr>
      <% end %>  
    </table>
  <% end %>
  <%= link_to 'Home Page', '/dashboard' %>
</div>

<%= form_tag enter_my_measurements_path, :method => :get do %>
  <%= submit_tag 'Enter New Measurements' %>
<% end %>


