<script src="/assets/my_measurements.js"></script>

<div class="container-fluid">
  
  <div class="measurements">
    
    <legend>My Measurements</legend>
    
    <div class="row">
      <div class='form-group'>
        <% if @measurements.empty? %>
          <%= "You don't have any measurements entered yet." %><br>
        <% else %>
          <table class="table" id="measurements_table">
            <thead style="background-color: #003366; color: white;">
            <tr>
              <th>Weight</th>
              <th>Body Fat</th> 
              <th>Height</th>
              <th>Date</th>
              <th>
                <span class="hide_when_editing">
                  <button type="button" class="btn btn-primary btn-sm edit_button">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </span>
                
                <span class="show_when_editing" hidden>
                  <button class="btn btn-primary btn-sm done_editing_button">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </span>
              </th>
            </tr>
            </thead>
              
            <% @measurements.each_with_index do |m, i| %>
              <tr id=<%= m.id %> class="measurements_row">
                <td>
                  <span class="hide_when_editing weight_info">
                    <%= m.weight %>  
                  </span>
                  <span class="show_when_editing" hidden>
                    <input name="weight_edit" class="weight_edit" type="number" value="<%= m.weight %>"></input>
                  </span>
                </td>
                
                <td> 
                  <span class="hide_when_editing body_fat_info">
                    <%= m.body_fat %> 
                  </span>
                  <span class="show_when_editing" hidden>
                    <input name="body_fat_edit" class="body_fat_edit" type="number" value="<%= m.body_fat %>"></input>
                  </span>
                </td>
                
                <td> 
                  <span class="hide_when_editing height_info">
                    <%= m.height %> 
                  </span>
                  <span class="show_when_editing" hidden>
                    <input name="height_edit" class="height_edit" type="number" value="<%= m.height %>"></input>
                  </span>
                </td>
                
                <td><%= m.updated_at.strftime("%B %d, %Y at %H:%M") %></td>
                
                <td> 
                  <span class="show_when_editing">
                    <button type="button" class="btn btn-primary btn-sm delete_button">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </span>
                </td>
              </tr>
            <% end %> 
          </table>
        <% end %>
      </div>
    
      <%= form_tag enter_my_measurements_path, :method => :get do %>
        <input class="btn btn-primary" style="margin-top=2em;" type="submit" name="commit" value="Enter New Measurements">
      <% end %>
    </div>
  </div>
</div>
