<h2>Add Goal</h2>

<div class="enter_goal">
<%= form_tag enter_goal_create_path, :method => 'post' do %>
  <%= label_tag 'Name:' %>
  <%= text_field_tag 'name', '', :size => 3, :autocomplete => 'off' %>
  <br />
  
  <%= label_tag 'Description:' %>
  <%= text_field_tag 'description', '', :size => 3, :autocomplete => 'off' %>
  <br />
  
  <%= label_tag 'Exercise:' %>
  <select name="exercise">
    <%= @exercises.each do |exercise| %>
      <option value="<%= exercise.name %>"><%=exercise.name%></option>
    <% end %>
  </select>
  <br />
  
  <%= label_tag 'Value:' %>
  <%= text_field_tag 'value', '', :size => 3, :autocomplete => 'off' %>
  <br />
  
  <%= label_tag 'Unit:' %>
  <select name="unit">
    <%= @units.each do |unit| %>
      <option value="<%= unit.name %>"><%= unit.name %></option>
    <% end %>
  </select>
  <br />
  
  <%= label_tag 'By:' %>
  <%= date_field_tag 'date', '', :size => 3, :autocomplete => 'off' %>
  <br />
  <%= submit_tag 'Enter' %>
<% end %>
</div>

<%= render :template => 'homepage/template' %>
