<script> function changeUnits(cardio_or_strength) {} </script>

<div class="container-fluid">
  
  <fieldset>
    <div class="enter_goal">
  
    <legend>Add Goal</legend>

      <div class="row">
        <%= form_tag enter_goal_create_path, :method => 'post' do %>
        
        <div class="form-group row" style="margin-left: auto; margin-right: auto;">
          <label for="name" class="col-sm-2" style="padding-top: 8px; padding-bottom: 8px; text-align: right;">Name:</label>
        
          <div class="col-sm-4" style="padding: 0em; padding-right: 5px;">
            <input class="form-control" type="text" name="name" id="name" value="" size="3" autocomplete="off">
          </div>
        </div>
        
        <div class="form-group row" style="margin-left: auto; margin-right: auto;">
          <label for="description" class="col-sm-2" style="padding-top: 8px; padding-bottom: 8px; text-align: right;">Description:</label>
        
          <div class="col-sm-4" style="padding: 0em; padding-right: 5px;">
            <input class="form-control" type="text" name="description" id="description" value="" size="3" autocomplete="off">
          </div>
        </div>
        
        <div class="form-group row" style="margin-left: auto; margin-right: auto;">
          <label for="exercise" class="col-sm-2" style="padding-top: 8px; padding-bottom: 8px; text-align: right;">Exercise:</label>
          
          <div class="col-sm-4" style="padding: 0em; padding-right: 5px;">
          
            <select class="form-control" name="exercise" id="exercise" onchange="changeUnits()">
              <%= @exercises.each do |exercise| %>
                <option id="exercise_option" value="<%= exercise.name %>"><%=exercise.name%></option>
              <% end %>
              
            </select>
          </div>
        </div>
    
        <div class="form-group row" style="margin-left: auto; margin-right: auto;">
          
          <label for="value" class="col-sm-2" style="padding-top: 8px; padding-bottom: 8px; text-align: right;">Value:</label>
         
          <div class="col-sm-2" style="padding: 0em; padding-right: 0px;">
            <input class="form-control" type="text" name="value" id="value" value="" size="3" autocomplete="off">
          </div>
          
          <label for="unit" class="col-sm-1" style="padding-top: 8px; padding-bottom: 8px; text-align: right; text-align: right;">Unit:</label>
          
          <div class="col-sm-1" style="padding: 0em;">
            <select class="form-control" name="unit" id="unit">
              <!-- blank options included to make tests work, might want to update this later -->
              <option class="hidden" value=""></option>
              <%= @units.each do |unit| %>
                <option class="hidden" value="<%= unit.name %>"><%= unit.name %></option>
                
              <% end %>
            </select>
          </div>
          
        </div>
        
        <div class="form-group row" style="margin-left: auto; margin-right: auto;">
          <label for="date_field_tag" class="col-sm-2" style="padding-top: 8px; padding-bottom: 8px; text-align: right;">By:</label>
        
          <div class="col-sm-4" style="padding: 0em; padding-right: 5px;">
            <input class="form-control" type="date" name="date" id="date" value="" size="3" autocomplete="off">
          </div>
        </div>
        
        <div class="form-group row" style="margin-left: auto; margin-right: auto; float: right; padding-right: 30em;">
          <input class="btn btn-primary" type="submit" name="commit" value="Add Goal">
        </div>
      </div>
    
  </fieldset>
    
</div>
  

<% end %>


<script>

function changeUnits() {

  // almost done -> exercise cat not storing yet
  var cardio_units = [
    <% @units.each do |unit| %>
      <% if unit.category == "Cardio" %>
        "<%= unit.name %>",
      <% end %>
    <% end %>
  ];
  
  var strength_units = [
    <% @units.each do |unit| %>
      <% if unit.category == "Strength" %>
        "<%= unit.name %>",
      <% end %>
    <% end %>
  ];
  
  document.getElementById('unit').options.length = 0; // resets options to empty list before populating
  exercise_select = document.getElementById('exercise');
  unit_select = document.getElementById('unit');
  
  var selected_exercise = exercise_select.options[exercise_select.selectedIndex].value; // gets selected exercise string
  console.log("selected exercise: " + selected_exercise);
  <% @exercises.each do |exercise| %>
    if (selected_exercise == "<%= exercise.name %>") {
      if ("<%= exercise.category %>" == "Cardio") {
        for (var i = 0; i < cardio_units.length; i++) {
          var option = document.createElement('option');
          option.value = cardio_units[i];
          option.text = cardio_units[i];
          unit_select.appendChild(option);
        }
      }
      else if ("<%= exercise.category %>" == "Strength") {
        for (var i = 0; i < strength_units.length; i++) {
          var option = document.createElement('option');
          option.value = strength_units[i];
          option.text = strength_units[i];
          unit_select.appendChild(option);
        }
      }
    }
  <% end %>
};
</script>