<script src="/assets/my_goals.js"></script>


<div class="container-fluid">
    
    <div class="goals">
        
      <legend>My Goals</legend>
            
      <div class="row">
        
        <div class="form-group">
            <% if @goals.empty? %>
                <%= "You don't have any goals entered yet." %>
            <% else %>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Exercise</th>
                        <th>Goal</th>
                        <th class="show_when_editing" hidden></th>
                    </tr>
                    <% @goals.each_with_index do |g, i| %>
                        <tr id="<%= g.id %>" >
                            <td><%= g.name %></td>
                            <td><%= g.description %></td>
                            <td><%= g.exercise.name %></td>
                            <td><%= g.value %> <%= g.unit.name %></td>
                            <td class="show_when_editing" hidden> 
                              <button type="button" class="btn btn-info btn-sm delete_button">
                                <span class="glyphicon glyphicon-trash"></span>
                              </button>
                            </td>
                        </tr>
                    <% end %>    
                </table>
            <% end %>
        </div>
    
        <div class="form-group">
            <%= form_tag enter_goal_path, :method => :get do %>
              <input class="btn btn-primary" type="submit" name="commit" value="Add Goal">
            <% end %>
        </div>
        
        <div>
            <span class="hide_when_editing">
              <button type="button" class="btn btn-info btn-sm edit_button">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </span>
            
            <span class="show_when_editing" hidden>
              <button class="btn btn-info btn-sm done_editing_button">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            </span>
        </div>
    </div>
 </div>