<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <style src="/assets/progress.scss"></style>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    
  </head>

  <!-- Flash Error -->
  <div>
    <div id="flash_error">
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>
    </div>
  </div>

  <% unless current_page?(root_path) %>
    <%= render :template => 'layouts/menu' %>
  <% end %>
  
  <!-- Content Placeholder -->
  <div id="page-content-wrapper">
    
    <button id="menu-toggle"></button>
      
    <div class="container-fluid">
    
      <%= yield %>
      <% unless current_page?(root_path) %>
        <%= render :template => 'homepage/template' %>
      <% end %>
      
    </div>
  </div>
  
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</html>